extends ./layout.pug
block contenido
	div(class="container center-aling up_space")
		h1 Hola Mundo
		a(href="/singup" class="center-aling") Iniciar Sesion 

		a(href="/login" class="center-aling") Registro